.tagIdea {
    height: 140px;
    background-color: #242526;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    padding-left: 10vw;
    padding-top: 20px;
   
}
.authors {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #242526;
    margin-top: 20px;
    border-radius: 10px;
}

.posts {
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: #242526;
    margin-top: 20px;
    border-radius: 10px;
    /* padding-left: 15vw; */
    margin-left: 20vw;
}

.authorProfile {
    color: white;
    margin-left: 20px;
}

.authorProfile p {
    margin: 0;
}

.name {
    font-weight: bold;
}

.createdat {
    font-size: 12px;
}

.contents {
    color: white;
}

.title {
    font-weight: bold;
}

.readmore {
    cursor: pointer;
}


.followed {
    border-bottom: 1px solid gray;
}

.followed p {
    color: gray;
}

.followed p i {
    color: red;
}

.postbuttons {
    color: white;
    display: flex;
    margin-top: 10px;
}

.postbuttons div {
    cursor: pointer;
    flex: 1;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

.postbuttons div:hover {
    background-color: rgb(147, 147, 147);
}

.pagging {
    display: flex;
    margin-top: 20px;
    padding-left: 73px;
    color: white;
    margin-bottom: 20px;
}

.pagebtn {
    background-color: #242526;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagebtn:hover {
    background-color: #3e3f41;
}

.pageChoosed {
    background-color: rgb(166, 200, 255);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.feeds{
    color: white;
    /* margin-top: 20px; */
    border-radius: 5px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}


.feeds:hover{
    background-color: rgb(147, 147, 147)
}
.feeds i{
    font-size: 30px;
    color: rgb(166, 200, 255);
}

.feeds p{
    font-weight: bold;
}

.home1{
    padding-left: 20px;
    margin-top: 0px;
}
.home3 {
    padding: 0px;
}
.home2 {
    padding: 0px;
}
.tagIdea2 {
    height: 120px;
    background-color: #222222;
    color: white;
    padding-left: 5vw;
    padding-top: 20px;
}
.viewtag {
    height: 170px;
    background: #242526;
    /* margin-top: 10px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 5px;
    border-radius: 10px;
}
.avatar {
    border-radius: 50%;
    margin-top: 10px;
    height: 70px;
}
.viewtag {
    text-align: center;
}
.viewtag h3 {
    color: white;
    margin-top: 10px;
    font-size: 16px;
}
.primary {
    text-decoration: none;
    color: white;
}

.flo {
    margin-top: -4rem;
    margin-left: 35vw;
    /* background: #a6c8ff; */
}
.flo button {
    background: #a6c8ff;
    border: none;
    border-radius: 5px;

}
