header{
    background-color: #242526;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

.header1{
    height: 100%;
    display: flex;
    align-items: center;
}

.header1 img{
    height: 60%;
    margin-right: 10px;
}
.header1 h2{
    color: #0866ff;
    font-weight: bold;
}

.header2 {
    display: flex;
    align-items: center;
}

.header2 a{
    color: gray;
    text-decoration: none;
    margin-right: 10px;
}

.logged p{
    color: gray;
    margin: 0;
}

.logged img{
    height: 70%;
    border-radius: 50%;
    margin-right: 10px;
}

.logged{
    cursor: pointer;
    position: relative;
}


.logged:hover .linkbox{
    display: block;
}
.logged .linkbox{
    position: absolute;
    bottom: -60px;
    background-color: #464646;
}

.linkbox{
    color: white;
    width: 160px;
    display: none;
}

.linkbox ul li a{
    color:white;
}

.linkbox ul{
    list-style: none;
    padding: 0;
    height: 100%;
    margin: 0;
    height: 60px;
}

.linkbox li{
    height: 50%;
    padding-left: 20px;
}
.linkbox li:hover{
    background-color: gray;
}

.header11 {
    text-decoration: none;
}