.authors {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #242526;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
}

.infor{
    display: flex;
    height: 100%;
}
.actions{
    display: flex;
    height: 100%;
}

.actions button{
    background-color: #242526;
    border: none;
    font-size: 20px;
    color: white;
}
.posts {
    padding: 20px;
    width: 80%;
    margin: auto;
    background-color: #242526;
    margin-top: 20px;
    border-radius: 10px;
}

.authorProfile {
    color: white;
    margin-left: 20px;
}

.authorProfile p {
    margin: 0;
}

.name {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.link1 {
    text-decoration: none;
}
.createdat {
    font-size: 12px;
}

.contents {
    color: white;
}

.title {
    font-weight: bold;
}

.readmore {
    cursor: pointer;
}


.followed {
    border-bottom: 1px solid gray;
}

.followed p {
    color: gray;
}

.followed p i {
    color: red;
}

.postbuttons {
    color: white;
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}

.postbuttons div {
    cursor: pointer;
    flex: 1;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

.postbuttons div:hover {
    background-color: rgb(147, 147, 147);
}

.pagging {
    display: flex;
    margin-top: 20px;
    padding-left: 73px;
    color: white;
    margin-bottom: 20px;
}

.pagebtn {
    background-color: #242526;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagebtn:hover {
    background-color: #3e3f41;
}

.pageChoosed {
    background-color: rgb(166, 200, 255);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.authors{
    height: 50px;
}
.avartarPost img{
    height: 100%;
}


#loader {
    margin-left: 45%;
    margin-top: 30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.liked{
    color: #3498db;
}

.tagGroup{
    display: flex;
}

.tagItem{
    background-color: gray;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.tagItem p{
    margin: 0;
}

.tagItem span{
    margin-left: 5px;
}

.tagItem i:hover{
    cursor: pointer;
}