
body{
    background-color: #18191a !important;
}
.active {
    color:#0866ff !important;
}

.modal-dialog{
    /* width: 80% !important; */
    width: 900px !important;
    max-width: none !important ;
}
.modal-header, .modal-body{
    background-color: #3a3d3f !important;
    color: aliceblue    ;
}

.modal-footer{
    background-color: #3a3d3f !important;
    color: aliceblue    ;
}
